<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Météo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding weather-bg">
  <div class="weather-wrapper">
    <ion-card class="weather-card">
      <ion-card-header class="ion-text-center">
        <ion-card-title class="purple-text title-large">Weather Data!!</ion-card-title>
        <ion-card-subtitle class="purple-text country-text">{{ country }}</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        <div class="weather-info-box" *ngIf="weatherData">
          <ion-list lines="full">
            <ion-item>
              <div class="centered-item-box">
                <ion-icon name="thermometer" color="danger"></ion-icon>
                <span>{{ temp }}°C</span>
              </div>
            </ion-item>
            <ion-item>
              <div class="centered-item-box">
                <ion-icon name="compass" color="secondary"></ion-icon>
                <span>{{ pres }} hPa</span>
              </div>
            </ion-item>
            <ion-item>
              <div class="centered-item-box">
                <ion-icon name="water" color="primary"></ion-icon>
                <span>{{ hum }}%</span>
              </div>
            </ion-item>
          </ion-list>
        </div>
        <div *ngIf="!weatherData" class="ion-text-center">
          <ion-spinner name="crescent"></ion-spinner>
          <p>Chargement des données...</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
