<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-center" color="light">Plans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="plans-bg">
  <div class="map-wrapper">
    <div class="search-container">
      <ion-searchbar
        #searchbar
        mode="ios"
        placeholder="Où voulez-vous aller ?"
        class="custom-search"
        (search)="handleSearch($event)">
      </ion-searchbar>
    </div>

    <!-- Container wrapper with border radius -->
    <div class="modern-map-container">
      <div id="map" class="modern-map"></div>
    </div>
  </div>
</ion-content>